// 全局变量参数

$g-background-color: #fff;
$g-font-size: 14px;
$g-fontSize: 14px;
$g-font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
$g-baseUrl: '..';   // 全局地址前缀
$g-localUrl: '..';  // 本地地址前缀，用于less的image-width等

// 场景色

$g-color-primary: #316cb1;
$g-color-success: #67c23a;
$g-color-warning: #e6a23c;
$g-color-danger: #f56c6c;
$g-color-info: #909399;

// 字体色
$g-color1: #303133;
$g-color2: #606266;
$g-color3: #909399;
$g-color4: #c0c4cc;

// 边框色
$g-color-border1: #dcdfe6;
$g-color-border2: #e4e7ed;
$g-color-border3: #ebeef5;
$g-color-border4: #f2f6fc;
